body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  background: black;
  margin: auto 10px;
  width: auto;
  height: 1500px;
}

.nav {
  float: left;
  position: fixed;
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  width: 100px;
  background-color: red;
}

.title {
  text-align: center;
  color: red;
}

.landing {
  margin: auto;
  background: black;
  color: red;
}

.album-image {
  border: 5px solid white;
}

.song-title {
  color: red;
}

.song-artist {
  color: red;
}

.song-length {
  color: red;
}

#album-cover-art {
  border: 5px solid white;
}

#song-list {
  width: 200px;
  border: 1px solid red;
  margin: 0 auto;
}

.songs {
  text-align: center;
  background-color: red;
  color: black;
}

.player-bar {
  margin: 5px;
  padding: 5px;
  color: white;
}
